
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}



li {
	background: rgba(76, 175, 80, 0.3); 
	height: 40px;
	line-height: 40px;
	color: gray;    
}
li:nth-child(2n){
	background: #f7f7f7;
}
#container {
	width: 360px;
	margin: 100px auto;
	
	
}
.inputField{
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
        
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0.2);
}

input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}
